mixin google-analytics-mixin()
    script(async='', src="https://www.googletagmanager.com/gtag/js?id=UA-101632858-3")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-101632858-3');
