
include partials/google_analytics.pug
doctype html
html
    head
        +google-analytics-mixin()
        title Ganbreeder
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")

        meta(property="og:title", content="Ganbreeder")
        meta(property="og:description", content="A collaborative tool for discovering images.")
        meta(property="og:image", content=src='/image/screenshot.jpg')
        meta(property="og:image:width", content="800")
        meta(property="og:image:height", content="693")
        meta(property="og:image:type", content="image/jpeg")
        meta(property="og:url", content='https://ganbreeder.app')
        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:creator", content="@_joelsimon")
        meta(name="twitter:text:title", content="Ganbreeder")
        meta(name="twitter:image", content="https://ganbreeder.app/image/screenshot.jpg")
        meta(name="Description", content="A collaborative tool for discovering images.")
        link(href="index.css" rel="stylesheet")
    body
        header
            h1 Ganbreeder

            .text_container(style='text-align:center;')
                a.center(href='/', style='') Home
            h3 Recently starred images

        .image_container.content
            for image in images
                a.imglink(href='/i?k='+image.key)
                    img(src=root+image.key+'.jpeg')

        .text_container(style='text-align:center;padding:50px;')
            -var next = parseInt(page)+1;
            a.center(href='/latest', style='margin-right:20px;') First Page
            a.center(href='/latest?page='+next, style='') Next Page
        #footer
