include partials/google_analytics.pug
include partials/mailchimp.pug
doctype html
html
    head
        +google-analytics-mixin()
        title Ganbreeder
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")

        meta(property="og:title", content="Ganbreeder")
        meta(property="og:description", content="A collaborative tool for discovering images.")
        meta(property="og:image", content=src='/image/screenshot.jpg')
        meta(property="og:image:width", content="800")
        meta(property="og:image:height", content="693")
        meta(property="og:image:type", content="image/jpeg")
        meta(property="og:url", content='https://ganbreeder.app')

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:creator", content="@_joelsimon")
        meta(name="twitter:text:title", content="Ganbreeder")
        meta(name="twitter:image", content="https://ganbreeder.app/image/screenshot.jpg")
        meta(name="Description", content="A collaborative tool for discovering images.")

        link(href="index.css" rel="stylesheet")
    body
        header
            h1 Ganbreeder
            h3 Which image is most interesting?
            br

        .image_container.content
            for key in keys
                a.imglink(href='/i?k='+key)
                    img(src=root+key+'.jpeg')

        .text_container.center
            a.center(href='/latest', style='')
                h4 See what others are selecting
            p(style='font-size:.8em;').center #{count} images selected.

        //- .padding(style='height:20px;width:100%;')
        .text_container
            p Ganbreeder is a collaborative art tool for discovering images. Images are 'bred' by having children, mixing with other images and being shared via their URL. This is an experiment in using breeding + sharing as methods of exploring high complexity spaces. GAN's are simply the engine enabling this. Ganbreeder is very similar to, and named after, #[a(href='http://picbreeder.org/') Picbreeder]. It is also inspired by an earlier project of mine #[a(href='http://www.joelsimon.net/facebook-graffiti.html') Facebook Graffiti] which demonstrated the creative capacity of crowds. Ganbreeder uses #[a(href='https://tfhub.dev/deepmind/biggan-128/2') these] BigGAN models and the #[a(href='https://github.com/joel-simon/ganbreeder') source code] is available.



        .text_container

            a(href='https://www.joelsimon.net') joelsimon.net
            br
            a(href='https://twitter.com/_joelsimon') @joelsimon
            +mailchimp-mixin()



        #footer
        script(src="index.js")
