include partials/google_analytics.pug
include partials/mailchimp.pug
doctype html
html
    head
        +google-analytics-mixin()
        title Ganbreeder
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
        link(href="index.css" rel="stylesheet")
        style.
            .image_container.content {
                width: 100%;
                max-width: 100%;
            }
            .image_container img {
                width: 256px;
            }
    body
        header
            h1 Ganbreeder
            .text_container(style='text-align:center;')
                a.center(href='/', style='') Home
            h3 Your Starred Images



        .image_container.content
        .text_container
            +mailchimp-mixin()
        #footer
        script.
            const root = "#{root}"
        script(src='/starred.js')